* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100vh;
  width: 100vw;
}
html body {
  height: 100%;
  width: 100%;
  background-color: #1C1C1E;
}
html body header {
  display: flex;
  gap: 5vw;
  align-items: center;
  position: top;
  height: 8vw;
  width: 100%;
  background-color: #000000;
  color: white;
}
html body header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5vw;
  font-weight: 600;
  margin-left: 3vw;
  margin-right: 35vw;
}
@media (max-width: 768px) {
  html body header h1 {
    font-size: 5.5vw;
    margin-right: 25vw;
  }
}
html body header p {
  font-family: "Inter", sans-serif;
  font-size: 3vw;
  font-weight: 400;
}
@media (max-width: 768px) {
  html body header p {
    font-size: 4vw;
  }
}
html body header #home {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
html body header #home:hover {
  cursor: pointer;
}
html body header #stats {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
html body header #stats:hover {
  cursor: pointer;
}
html body header .task-creator {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  overflow: hidden;
  width: 15vw;
  height: 2vw;
  position: absolute;
  left: 0;
  top: 8vw;
  background-color: #5A5A5A;
  text-align: right;
  border-radius: 0px 0px 20px 0px;
  padding-top: 3vw;
}
html body header .task-creator h1 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 2vw;
  width: 15vw;
  margin-top: -2vw;
  margin-bottom: 3vw;
  margin-left: 28.5vw;
}
html body header .task-creator h1:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  html body header .task-creator h1 {
    margin-left: 18vw;
    font-size: 4vw;
    margin-bottom: 6vw;
    margin-top: -10vw;
  }
}
html body header .task-creator label {
  margin-top: -2vw;
  margin-bottom: -1vw;
}
@media (max-width: 768px) {
  html body header .task-creator label {
    font-size: 2.5vw;
  }
}
html body header .task-creator input, html body header .task-creator button {
  font-family: "Inter", sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 2vw;
  height: 3vw;
  width: 9vw;
  text-align: center;
  border-radius: 1vw;
  border: none;
  color: white;
  background-color: #9E9CA4;
}
html body header .task-creator input:focus, html body header .task-creator button:focus {
  outline: none;
}
@media (max-width: 768px) {
  html body header .task-creator input, html body header .task-creator button {
    height: 6vw;
    width: 28vw;
    font-size: 2.5vw;
  }
}
html body header .task-creator #submit {
  margin-top: -2vw;
}
html body header .task-creator #submit:hover {
  cursor: pointer;
}
html body header .task-creator #collapse {
  margin-top: -3vw;
}
html body header .task-creator #collapse:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  html body header .task-creator {
    top: 20vw;
    width: 20vw;
    height: 6vw;
    border-radius: 0px 0px 5px 0px;
    padding-top: 12vw;
  }
}
@media (max-width: 768px) {
  html body header {
    height: 20vw;
    gap: 3vw;
  }
}
html body #calendar_managment {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2vw;
  font-size: 2vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
@media (max-width: 768px) {
  html body #calendar_managment {
    font-size: 4vw;
  }
}
html body #calendar_managment p {
  font-size: 4vw;
  color: #9E9CA4;
  font-weight: 700;
  margin-top: -2vw;
}
@media (max-width: 768px) {
  html body #calendar_managment p {
    font-size: 8vw;
  }
}
html body #calendar_managment .monthholder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
html body #calendar_managment .dayholder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin-top: 2vw;
}
html body #calendar_managment .dayholder #prevday, html body #calendar_managment .dayholder #nextday {
  font-size: 2vw;
  margin-top: -2vw;
}
@media (max-width: 768px) {
  html body #calendar_managment .dayholder #prevday, html body #calendar_managment .dayholder #nextday {
    font-size: 4vw;
  }
}
html body #calendar_managment #prevday {
  transform: rotate(180deg);
}
html body #calendar_managment #prevmonth {
  transform: rotate(180deg);
  font-size: 2.5vw;
}
@media (max-width: 768px) {
  html body #calendar_managment #prevmonth {
    font-size: 4vw;
  }
}
html body #calendar_managment #nextmonth {
  font-size: 2.5vw;
}
@media (max-width: 768px) {
  html body #calendar_managment #nextmonth {
    font-size: 4vw;
  }
}
html body #time_scale {
  display: grid;
  grid-template-columns: 0.5fr 5fr;
  grid-template-areas: "time task";
  overflow: scroll;
  overflow-x: hidden;
  max-height: 30vw;
  padding-top: 2vw;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
html body #time_scale::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  html body #time_scale {
    max-height: 60vh;
  }
}
html body #time_scale .time {
  grid-area: "time";
  color: #9E9CA4;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.8vw;
  text-align: right;
  padding-right: 1vw;
  margin-top: -1vw;
}
@media (max-width: 768px) {
  html body #time_scale .time {
    font-size: 3.6vw;
    margin-top: -2vw;
  }
}
html body #time_scale .task-holder {
  grid-area: "task";
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  border-top: 0.2vw #9E9CA4 solid;
  border-bottom: 0.05vw #9E9CA4 solid;
  height: 10vw;
  width: auto;
  margin-right: 10vw;
}
@media (max-width: 768px) {
  html body #time_scale .task-holder {
    height: 25vw;
  }
}
html body #time_scale .task-holder .task {
  height: 100%;
  width: 100%;
  color: rgba(255, 2, 2, 0.81);
  background-color: rgba(255, 2, 2, 0.34);
  display: flex;
  gap: 1vw;
}
html body #time_scale .task-holder .task .mark {
  height: 100%;
  width: 0.8vw;
  background-color: #ff0202;
}
html body #time_scale .task-holder .task .details {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.1vw;
  margin-top: 0.8vw;
}
html body #time_scale .task-holder .task .details p {
  font-size: 2.2vw;
  font-weight: 400;
}
@media (max-width: 768px) {
  html body #time_scale .task-holder .task .details p {
    font-size: 4.5vw;
  }
}
@media (max-width: 768px) {
  html body #time_scale .task-holder .task .details {
    font-size: 3vw;
  }
}
html body #statsholder {
  display: flex;
  gap: 8vw;
  justify-content: space-between;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 3vw;
  width: 90vw;
  height: auto;
}
@media (max-width: 768px) {
  html body #statsholder {
    flex-direction: column;
    width: 60vw;
    height: 80vh;
    gap: 0vw;
  }
}
html body #statsholder .month {
  height: auto;
  padding: 2.5vw;
  width: auto;
  color: #C4C3C9;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
html body #statsholder .month .monthname {
  font-size: 1.3vw;
  margin-bottom: 0.5vw;
}
@media (max-width: 768px) {
  html body #statsholder .month .monthname {
    font-size: 5vw;
  }
}
html body #statsholder .statsblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vw;
  width: auto;
  padding: 1.5vw 3vw;
  color: white;
  background-color: #525254;
  font-size: 0.8vw;
  border-radius: 0.6vw;
}
@media (max-width: 768px) {
  html body #statsholder .statsblock {
    height: 40vw;
  }
}
html body #statsholder .statsblock .editme {
  height: 10vw;
  width: 15vw;
}
@media (max-width: 768px) {
  html body #statsholder .statsblock .editme {
    height: 20vw;
    width: 30vw;
  }
}
html body #statsholder .averagefreetimetitle {
  font-size: 1.3vw;
  text-align: center;
  margin-top: 1.3vw;
  color: #F3F1F9;
}
html body #statsholder .freetimeholder {
  margin-top: 0.2vw;
  margin-bottom: 2vw;
  font-size: 3vw;
  color: #FFFFFF;
}
html .hidden {
  display: none !important;
}
html .fadeAwayAnim {
  animation: fadeAway 1s forwards;
}

@keyframes fadeAway {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */