*{
    padding: 0px;
    margin: 0px;

}

html {
    height: 100vh;
    width: 100vw;


    body {
        height: 100%;
        width: 100%;
        background-color: #1C1C1E;

        header {
            display: flex;
            gap: 5vw;
            align-items: center;
            position: top;
            height: 8vw;
            width: 100%;
            background-color: #000000;
            color: white;

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 4.5vw;
                font-weight: 600;
                margin-left: 3vw;
                margin-right: 35vw;
            }
            p {
                font-family: 'Inter', sans-serif;
                font-size: 3vw;
                font-weight: 400;
            }
        }
        #calendar_managment {
            color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 2vw;
            font-size: 2vw;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;

            p {
                font-size: 4vw;
                color: #9E9CA4;
                font-weight: 700;
                margin-top: -1vw;
            }
        }
    }
}