$gray-light: #9E9CA4;
$gray-dark:  #5A5A5A;


*{
    padding: 0px;
    margin: 0px;

}

html {
    height: 100vh;
    width: 100vw;


    body {
        height: 100%;
        width: 100%;
        background-color: #1C1C1E;

        header {
            display: flex;
            gap: 5vw;
            align-items: center;
            position: top;
            height: 8vw;
            width: 100%;
            background-color: #000000;
            color: white;

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 4.5vw;
                font-weight: 600;
                margin-left: 3vw;
                margin-right: 35vw;
            }
            p {
                font-family: 'Inter', sans-serif;
                font-size: 3vw;
                font-weight: 400;
            }

            .task-creator {
                width: 15vw;
                height: 4vw;
                position: absolute;
                left: 0;
                top: 8vw;
                background-color: $gray-dark;
                text-align: right;
                border-radius: 0px 0px 20px 0px;
                h1 {
                    font-family: 'Inter', sans-serif;
                    font-weight: 800;
                    font-size: 2vw;
                    width: 15vw;
                    margin-top: 0.6vw;
                    margin-left: -3vw;
                }
            }
        }
        #calendar_managment {
            color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 2vw;
            font-size: 2vw;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            
            p {
                font-size: 4vw;
                color: $gray-light;
                font-weight: 700;
                margin-top: -2vw;
            }

            .monthholder {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2vw;

            
            }
            .dayholder {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2vw;
                margin-top: 2vw;

                #prevday, #nextday {
                    font-size: 2vw;
                    margin-top: -2vw;
                }
            }

            #prevday {
                transform: rotate(180deg);
            }

            #prevmonth {
                transform: rotate(180deg);
                font-size: 2.5vw;
            }
            #nextmonth {
                font-size: 2.5vw;
            }
            
        }

        #time_scale {
            display: grid;
            grid-template-columns: 0.5fr 5fr;
            grid-template-areas: 
            "time task";
            overflow: scroll;
            overflow-x: hidden;
            max-height: 30vw;
            padding-top: 2vw;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */

            &::-webkit-scrollbar {
                display: none;
            }

            .time {
                grid-area: 'time';
                color: $gray-light;
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                font-size: 1.8vw;
                text-align: right;
                padding-right: 1vw;
                margin-top: -1vw;
            }

            .task-holder {
                grid-area: 'task';
                
                
                padding-top: 0.3vw;
                padding-bottom: 0.3vw;
                border-top: 0.2vw $gray-light solid;
                border-bottom: 0.05vw $gray-light solid;
                height: 10vw;
                width: auto;
                margin-right: 10vw;

                .task {
                        height: 100%;
                        width: 100%;
                        color: rgba($color: #FF0202, $alpha: 0.81);
                        background-color: rgba($color: #FF0202, $alpha: 0.34);
                        display: flex;
                        gap: 1vw;
                        
                        

                        .mark {
                            height: 100%;
                            width: 0.8vw;
                            background-color: rgba($color: #FF0202, $alpha: 1);
                            
                        }

                        .details {
                            font-family: 'Inter', sans-serif;
                            font-weight: bold;
                            font-size: 1.1vw;
                            margin-top: 0.8vw;
                            p {
                                font-size: 2.2vw;
                                font-weight: 400;
                            }
                        }
                }
            }
        }

        #statsholder {
            display: flex;
            gap: 10vw;
            justify-content: center;
            overflow: scroll;
            overflow-y: hidden;
            margin: 0 auto;
            width: 90vw;
            height: auto;
            background-color: #FF0202;

            .month {
                height: auto;
                padding: 2.5vw;
                width: auto;
            }


            .statsblock {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 30vw;
                width: auto;
                padding: 1.5vw 3vw;
                background-color: #5A5A5A;
                font-size: 0.8vw;

            }
        }
    }
}