* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100vh;
  width: 100vw;
}
html body {
  height: 100%;
  width: 100%;
  background-color: #1C1C1E;
}
html body header {
  display: flex;
  gap: 5vw;
  align-items: center;
  position: top;
  height: 8vw;
  width: 100%;
  background-color: #000000;
  color: white;
}
html body header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5vw;
  font-weight: 600;
  margin-left: 3vw;
  margin-right: 35vw;
}
html body header p {
  font-family: "Inter", sans-serif;
  font-size: 3vw;
  font-weight: 400;
}
html body header .task-creator {
  width: 15vw;
  height: 4vw;
  position: absolute;
  left: 0;
  top: 8vw;
  background-color: #5A5A5A;
  text-align: right;
  border-radius: 0px 0px 20px 0px;
}
html body header .task-creator h1 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 2vw;
  width: 15vw;
  margin-top: 0.6vw;
  margin-left: -3vw;
}
html body #calendar_managment {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2vw;
  font-size: 2vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
html body #calendar_managment p {
  font-size: 4vw;
  color: #9E9CA4;
  font-weight: 700;
  margin-top: -2vw;
}
html body #calendar_managment .monthholder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
html body #calendar_managment .dayholder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin-top: 2vw;
}
html body #calendar_managment .dayholder #prevday, html body #calendar_managment .dayholder #nextday {
  font-size: 2vw;
  margin-top: -2vw;
}
html body #calendar_managment #prevday {
  transform: rotate(180deg);
}
html body #calendar_managment #prevmonth {
  transform: rotate(180deg);
  font-size: 2.5vw;
}
html body #calendar_managment #nextmonth {
  font-size: 2.5vw;
}
html body #time_scale {
  display: grid;
  grid-template-columns: 0.5fr 5fr;
  grid-template-areas: "time task";
  overflow: scroll;
  overflow-x: hidden;
  max-height: 30vw;
  padding-top: 2vw;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
html body #time_scale::-webkit-scrollbar {
  display: none;
}
html body #time_scale .time {
  grid-area: "time";
  color: #9E9CA4;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.8vw;
  text-align: right;
  padding-right: 1vw;
  margin-top: -1vw;
}
html body #time_scale .task-holder {
  grid-area: "task";
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  border-top: 0.2vw #9E9CA4 solid;
  border-bottom: 0.05vw #9E9CA4 solid;
  height: 10vw;
  width: auto;
  margin-right: 10vw;
}
html body #time_scale .task-holder .task {
  height: 100%;
  width: 100%;
  color: rgba(255, 2, 2, 0.81);
  background-color: rgba(255, 2, 2, 0.34);
  display: flex;
  gap: 1vw;
}
html body #time_scale .task-holder .task .mark {
  height: 100%;
  width: 0.8vw;
  background-color: #ff0202;
}
html body #time_scale .task-holder .task .details {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.1vw;
  margin-top: 0.8vw;
}
html body #time_scale .task-holder .task .details p {
  font-size: 2.2vw;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */