$gray-light: #9E9CA4;
$gray-dark:  #5A5A5A;


*{
    padding: 0px;
    margin: 0px;

}

html {
    height: 100vh;
    width: 100vw;


    body {
        height: 100%;
        width: 100%;
        background-color: #1C1C1E;

        header {
            display: flex;
            gap: 5vw;
            align-items: center;
            position: top;
            height: 8vw;
            width: 100%;
            background-color: #000000;
            color: white;

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 4.5vw;
                font-weight: 600;
                margin-left: 3vw;
                margin-right: 35vw;
                @media (max-width: "768px"){
                        font-size: 5.5vw;
                        margin-right: 25vw;
                }
            }
            p {
                font-family: 'Inter', sans-serif;
                font-size: 3vw;
                font-weight: 400;

                @media (max-width: "768px"){
                    font-size: 4vw;
                }
            }
            #home {
                user-select: none;
                &:hover {
                    cursor: pointer;
                }
            }
            #stats {
                user-select: none;
                &:hover {
                    cursor: pointer;
                }
            }
            .task-creator {
                
                font-family: 'Inter', sans-serif;
                    font-weight: 800;
                    font-size: 1.5vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2vw;
                overflow: hidden;
                width: 15vw;
                height: 2vw;
                position: absolute;
                left: 0;
                top: 8vw;
                background-color: $gray-dark;
                text-align: right;
                border-radius: 0px 0px 20px 0px;
                padding-top: 3vw;
                h1 {
                    font-family: 'Inter', sans-serif;
                    font-weight: 800;
                    font-size: 2vw;
                    width: 15vw;
                   margin-top: -2vw;
                   margin-bottom: 3vw;
                    margin-left: 28.5vw;
                    
                    &:hover {
                        cursor: pointer;
                    }
                    @media (max-width: "768px"){
                          margin-left: 18vw;
                          font-size: 4vw;
                          margin-bottom: 6vw;
                          margin-top: -10vw;
                    }
                }
                label {
                    margin-top: -2vw;
                    margin-bottom: -1vw;
                    @media (max-width: "768px"){
                        font-size: 2.5vw;
                    }
                }

                input, button {
                    font-family: 'Inter', sans-serif;
                    font-size: 1.5vw;
                    font-weight: bold;
                    margin-bottom: 2vw;
                    height: 3vw;
                    width: 9vw;
                    text-align: center;
                    border-radius: 1vw;
                    border: none;
                    color: white;
                    background-color: $gray-light;

                    &:focus {
                        outline: none;
                    }
                    @media (max-width: "768px"){
                        height: 6vw;
                        width: 28vw;
                        font-size: 2.5vw;
                    }
                    
                    
                }

                #submit {
                    margin-top: -2vw;
                    &:hover {
                        cursor: pointer;
                    }
                }
                #collapse {
                    margin-top: -3vw;
                    &:hover {
                        cursor: pointer;
                    }
                }
                @media (max-width: "768px"){
                        top: 20vw;
                        width: 20vw;
                        height: 6vw;
                        border-radius: 0px 0px 5px 0px;
                        padding-top: 12vw;
                }
            }
            @media (max-width: "768px"){
                height: 20vw;
                gap: 3vw;
            }
        }
        #calendar_managment {
            color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 2vw;
            font-size: 2vw;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            @media (max-width: "768px"){
                font-size: 4vw;
            }
            p {
                font-size: 4vw;
                color: $gray-light;
                font-weight: 700;
                margin-top: -2vw;

                @media (max-width: "768px"){
                    font-size: 8vw;
                }
            }

            .monthholder {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2vw;

            
            }
            .dayholder {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2vw;
                margin-top: 2vw;

                #prevday, #nextday {
                    font-size: 2vw;
                    margin-top: -2vw;

                    @media (max-width: "768px"){
                            font-size: 4vw;
                    }
                }
            }

            #prevday {
                transform: rotate(180deg);
                
            }

            #prevmonth {
                transform: rotate(180deg);
                font-size: 2.5vw;

                @media (max-width: "768px"){
                    font-size: 4vw;
                }
            }
            #nextmonth {
                font-size: 2.5vw;
                @media (max-width: "768px"){
                    font-size: 4vw;
                }
            }
            
        }

        #time_scale {
            display: grid;
            grid-template-columns: 0.5fr 5fr;
            grid-template-areas: 
            "time task";
            overflow: scroll;
            overflow-x: hidden;
            max-height: 30vw;
            padding-top: 2vw;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */

            &::-webkit-scrollbar {
                display: none;
            }
            @media (max-width: "768px"){
                max-height: 60vh;
            }
            .time {
                grid-area: 'time';
                color: $gray-light;
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                font-size: 1.8vw;
                text-align: right;
                padding-right: 1vw;
                margin-top: -1vw;

                @media (max-width: "768px"){
                        font-size: 3.6vw;
                        margin-top: -2vw;
                }
            }

            .task-holder {
                grid-area: 'task';
                
                
                padding-top: 0.3vw;
                padding-bottom: 0.3vw;
                border-top: 0.2vw $gray-light solid;
                border-bottom: 0.05vw $gray-light solid;
                height: 10vw;
                width: auto;
                margin-right: 10vw;
                @media (max-width: "768px"){
                    height: 25vw;
                }
                .task {
                        height: 100%;
                        width: 100%;
                        color: rgba($color: #FF0202, $alpha: 0.81);
                        background-color: rgba($color: #FF0202, $alpha: 0.34);
                        display: flex;
                        gap: 1vw;
                        
                        

                        .mark {
                            height: 100%;
                            width: 0.8vw;
                            background-color: rgba($color: #FF0202, $alpha: 1);
                            
                        }

                        .details {
                            font-family: 'Inter', sans-serif;
                            font-weight: bold;
                            font-size: 1.1vw;
                            margin-top: 0.8vw;
                            p {
                                font-size: 2.2vw;
                                font-weight: 400;

                                @media (max-width: "768px"){
                                        font-size: 4.5vw;
                                }
                            }
                            @media (max-width: "768px"){
                                    font-size: 3vw;
                            }
                        }
                }
            }
        }

        #statsholder {
            display: flex;
            gap: 8vw;
            justify-content: space-between;
            overflow: hidden;
            margin: 0 auto;
            margin-top: 3vw;
            width: 90vw;
            height: auto;
            
            @media (max-width: "768px"){
                flex-direction: column;
                width: 60vw;
                height: 80vh;
                gap: 0vw;
                
            }

            .month {
                height: auto;
                padding: 2.5vw;
                width: auto;
                color: #C4C3C9;
                font-family: 'Inter', sans-serif;
                font-weight: bold;
                
                
                .monthname {
                    font-size: 1.3vw;
                    margin-bottom: 0.5vw;
                    @media (max-width: "768px"){
                            font-size: 5vw;
                    }
                }
            }


            .statsblock {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 30vw;
                width: auto;
                padding: 1.5vw 3vw;
                color: #FFFF;
                background-color: #525254;
                font-size: 0.8vw;
                border-radius: 0.6vw;

                @media (max-width: "768px"){
                    height: 40vw;
                     }

                .editme{
                    height: 10vw;
                    width: 15vw;

                    @media (max-width: "768px"){
                    height: 20vw;
                    width: 30vw;
                     }
            
                    }
                }
                

                .averagefreetimetitle {
                    font-size: 1.3vw;
                    text-align: center;
                    margin-top: 1.3vw;
                    color: #F3F1F9;

                    
                }
                .freetimeholder{
                    margin-top: 0.2vw;
                    margin-bottom: 2vw;
                    font-size: 3vw;
                    color: #FFFFFF;
                    
                }
                
            }
            
            
        }

        
        .hidden {
            display: none !important;
        }
        .fadeAwayAnim {
                animation: fadeAway 1s forwards;
        }
        
    }


@keyframes fadeAway {
            from {
                
                opacity: 1;
            }
            to {
                
                opacity: (0);
            }
}

